![Python](https://www.python.org/static/community_logos/python-logo-generic.svg)

- Current Version: Python 3.9, released October 2020
- Interpreted
- Strong but dynamically typed
- Batteries includes (very feature-rich standard library)
- Lots of third party packages for science
- Notebook adapted from [Scientific Ptyhon Notebooks](https://github.com/maxnoe/scientific_python_notebooks/blob/master/)

## Python is the fastest-growing major programming language

![Python Growth SO](https://i.redd.it/mlb1dkg89dq41.png)

## More important, Python is the fastest-growing programming language in astronomy

![](figures/languages_astronomy.png)

### Hello World

In [1]:
print('Hello, World!')

Hello, World!

## Comments

Comments in python by using `#` for a single line or `'''` `'''` for multiline, actually a multiline string object.

In [2]:
# Outputting "Hello, World!" to the terminal is the traditional 
# introduction into a new language
print("Hello, World!")

Hello, World!

Comments should be used appropriately

* Should explain mostly why not what
* Should not explain standard behaviour or functions

## Names, Objects and values

Python is dynamically but strongly typed language, that means:

* Names can refer to values of different types
* All objects have a fixed type

In [3]:
a = 2
b = 3.0
c = "Hello World"

In [4]:
type(a), type(b), type(c)

(int, float, str)

In [7]:
a = a + 5j
type(a)

complex

## Builtin data types

### None

Used as missing value indicator

In [8]:
print(None)

None

Functions which do not return anything return `None`

In [9]:
a = print('test')

test

In [10]:
print(a)

None

### Booleans

`True` and `False`

Logical operators: `and`, `or`, `not`

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
not True

False

# Truthy and Falsy values

Empty or zero-like python objects behave falsy in comparisons

In [14]:
True or False

True

In [15]:
False and 'Hello'

False

### Numbers

Integers: `42`     
Floats: `3.14`  
Complex: `4.0 + 3.0j`      


Operations

- `+`, `-`, `*` 
- `**` (Power: `2**3` → `8`)
- `/` (`3 / 2` → `1.5`)
- `//` (Integer division: `3 // 2` → `1`)
- `%` (Modullus: `7 % 4` → `3`)

In [16]:
x = 5
y = 3
x + y

8

In [17]:
a = 2 + 4 / 5 + 1
b = (2 + 4) / 5 + 1
c = (2 + 4) / (5 + 1)

In [18]:
a, b, c

(3.8, 2.2, 1.0)

Comparisons 
- `==`, `!=`
- `>`, `<`, `>=`, `<=`
- `is` checks for object identity

In [19]:
x < y

False

Chaining comparisons

In [20]:
c < b < a

True

In [21]:
c < a < b

False

In [22]:
[1] == [1], [1] is [1]

(True, False)

In [23]:
a = [1]
b = a

a is b

True

### Strings

No difference between `'` and `"` → Matter of taste, but stay consistent

In [24]:
foo = 'foo'
bar = "bar"

Concatenate using +

In [25]:
foo + ' ' + bar

'foo bar'

In [26]:
foo * 4

'foofoofoofoo'

In [27]:
foo[0]

'f'



### Lists

A mutable collection of python objects

In [28]:
names = ['foo', 'bar']

In [29]:
names[1]

'bar'

In [30]:
names.append('baz')
names

['foo', 'bar', 'baz']

Negative indices are counting from the last element

In [31]:
names[-1]

'baz'

Slicing using `:`

In [32]:
names[1:3]

['bar', 'baz']

Concatenation using +

In [33]:
names + ['thing']

['foo', 'bar', 'baz', 'thing']

Extend list by all elements in another iterable

In [34]:
names.extend(['quux', 'stuff'])
names

['foo', 'bar', 'baz', 'quux', 'stuff']

In [35]:
names[1] = 'new'
names

['foo', 'new', 'baz', 'quux', 'stuff']

Check if element is in list:

In [36]:
weekdays = ['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So']
'Mo' in weekdays

True

### Tuples

Immutable collection of python objects.

Very powerful packing and unpacking operations.

In [37]:
tup = 5, 3
tup

(5, 3)

In [38]:
type(tup)

tuple

In [39]:
a = 5
b = 3
a, b = b, a

In [40]:
print("a =", a)
print("b =", b)

a = 3
b = 5

In [41]:
tup[0]

5

In [42]:
tup[1] = 7

TypeError: 'tuple' object does not support item assignment

In [45]:
lst = [5,3]

In [46]:
lst[1] = 7

### Dictionaries

The classical hash map, ordered by insertion order since Python 3.6, but do not rely on it yet

In [47]:
numbers = {'one': 1, 'two': 2, 'three': 3}
numbers

{'one': 1, 'two': 2, 'three': 3}

In [48]:
numbers['two']

2

## Control flow

### if, elif, else

In [49]:
a = 3

if a == 1:
    print('foo')
elif a == 2:
    print('bar')
else:
    print('baz')

baz

### while

In [50]:
i = 0
while i < 5:
    print(i)
    i += 1

# there has to be a better way!

0
1
2
3
4


### for

The python for loop works completely different than the one e.g. in `C`, it is 
a `foreach` loop.

In each iteration of the loop, the next value from an iterable is assigned to the
loop variable.

In [51]:
data = [10, 42, -1]

for x in data:
    print(2 * x)

20
84
-2

In [52]:
for i in range(5):
    print(i)

0
1
2
3
4

In [53]:
for i in range(2, 5):
    print(i)

2
3
4

In [54]:
for i in range(10, 3, -1):
    print(i)

10
9
8
7
6
5
4

In [55]:
weekdays

['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So']

In [56]:
for day in weekdays:
    print("Today is", day)

Today is Mo
Today is Di
Today is Mi
Today is Do
Today is Fr
Today is Sa
Today is So

# `enumerate` and ` zip`

In [57]:
for i, day in enumerate(weekdays, start=1):
    print(f'{day} is the {i} day of the week')

Mo is the 1 day of the week
Di is the 2 day of the week
Mi is the 3 day of the week
Do is the 4 day of the week
Fr is the 5 day of the week
Sa is the 6 day of the week
So is the 7 day of the week

In [58]:
english = ["foot", "ball", "goal"]
spanish = ["pie", "pelota", "gol"]

for a, b in zip(english, spanish):
    print(a, b)

foot pie
ball pelota
goal gol

In [59]:
translations = {
    'foot': 'pie',
    'ball': 'pelota',
    'goal': 'gol',
}

for e, g in translations.items():
    print(e, g)

foot pie
ball pelota
goal gol

## Defining functions `def`

In [60]:
def add(x, y):
    z = x + y
    return z

add(2, 2)

4

Return multiple values

In [61]:
def divide(x, y):
    return x // y, x % y

n, rest = divide(5, 3)
n, rest

(1, 2)

Recursive functions

In [62]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

factorial(4)

24

## String formatting

## f-strings, since python 3.6

In [63]:
first_value = 42
second_value = 0

print(f"First value: {first_value}, Second Value: {second_value}")

First value: 42, Second Value: 0

In [64]:
result = 3.2291421

print(f'The result is {result:.2f}')

The result is 3.23

## str.format

In [65]:
first_value = 42
second_value = 0

'First value: {}, Second Value: {}'.format(first_value, second_value)

'First value: 42, Second Value: 0'

In [66]:
'The result is {result:.2f} and therefore smaller than {four}'.format(
    result=3.2291421, four=4
)

'The result is 3.23 and therefore smaller than 4'

## Comprehensions

Efficient and concise ways to create lists, dicts and sets

In [67]:
# List
list(range(5))

[0, 1, 2, 3, 4]

In [68]:
# List-Comprehension
[2 * x for x in range(5)]

[0, 2, 4, 6, 8]

In [69]:
# Dict-Comprehension
{num + 1: name for num, name in enumerate(weekdays)}

{1: 'Mo', 2: 'Di', 3: 'Mi', 4: 'Do', 5: 'Fr', 6: 'Sa', 7: 'So'}

In [70]:
# List-Comprehension with filter
[x for x in range(10) if x % 3 == 0]

[0, 3, 6, 9]